
/* About us */
.about-us {
  font-family: 'Montserrat', sans-serif;
}
.about_section {
  margin: 120px auto;
  max-width: 1200px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.about-images {
  display: flex;
  gap: 30px;
}

.small_images_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.small_images_left img {
  width: 280px;
}

.big_image_right img {
  width: 340px;
  height: auto;
}


/* Mobile */
@media (max-width: 992px) {
    .about-wrapper {
        flex-direction: column;
    }

    .about-images {
        flex-direction: column;
    }

    .big_image_right img {
        height: 320px;
    }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fdfdfd 40%,
    #05e2ff22 100%
  );
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  font-family: 'Montserrat', sans-serif;
}


