.big_logo {
    margin-left: 35%;
}

/* carousel  */
.cv-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 60px 0;
}

.carousel-window {
  width: 1000px;            
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 50px;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border: 3px solid #000;
}

/* Arrows */
.arrow {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.about-us {
  font-family: 'Montserrat', sans-serif;
}

