body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fdfdfd 40%,
    #05e2ff22 100%
  );
}

.big_logo {
    margin-left: 30%;
}

/* carousel  */
.cv-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 60px 0;
}

.carousel-window {
  width: 1000px;            
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 50px;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border: 3px solid #000;
}


.cv-carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-title {
  margin-top: 20px;
  font-size: 30;
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
}


/* Arrows */
.arrow {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.how_it_works {
  margin: 80px auto;
  text-align: center;
}

.how-title {
  margin-top: 20px;
  font-size: 20;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.how-cards {
  margin: 0 auto;
}

.how-card {
  width: 18rem;              
  min-height: 200px;
  border: 4px solid #00bcd4; 
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(80, 100, 101, 0.237);
  background: rgba(255, 255, 255, 0.135) !important;
}

.how-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  text-align: center;
  gap: 10px;
  padding: 24px;
}

.how-card h4 {
  margin: 0;
  font-weight: 700;
}

.how-card {
  margin: 0;
  font-weight: 600;
}

.how-card svg {
  margin-top: 12px;
  width: 48px;
  height: 48px;
}

.how-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.how-btn {
  padding: 12px 26px;
  border-radius: 10px;
  background:#00bcd4;
  color: #000000;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.014);
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  font-family: 'Montserrat', sans-serif;
}




